button {
  background-color:#E9EEEC;
  font-weight:bold;
  position: relative;
  outline: none;
  color: #777777;
  border-style: none;
  font-size: 15px;
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

#table {
  margin: 0 auto;
}

#table button:hover {
  background-color: #CEE4D5;
}

#save {
  border-width: 1px;
  height:30px;
  width:100px;
  margin-left: 6px;
}

.over {
  background-color:red;
}

[draggable] {
  cursor: move;
}

td div {
  width: 50px;
  height: 50px;
}

#header {
  padding: 15px;
  width: 210px;
  margin: 0 auto;
}

#counter {
  width: 90px;
  display: inline-block;
  margin-left: 10px;
}